.menu{
    background-color: #F6F6FC;

    padding: 2vw !important;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20px;
   
}
.menu input{
    height: fit-content;
    background-color: #dbdbdb;
    padding: 10px 5px !important;
   
}
.menu select,.menu button{
    height: 20px;
}